.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
body {
  background-image: url('../media/images/geometry2.png');
}
#top {
  max-width: 1440px;
  margin-top: 3rem;
}
article .article-meta a {
  color: #ffffff;
}
.sidebar .sidebar-title {
  margin-bottom: 24px;
}
.sidebar ul {
  padding-left: 0px;
}
.sidebar li {
  margin-bottom: 16px;
}
.sidebar a.badge {
  background-image: none;
  margin: 4px;
  color: #ffffff;
}
.info-container {
  text-align: center;
}
.info-container .avatar {
  width: 120px;
  height: 120px;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px 190px;
  margin-bottom: 24px;
}
.social-container {
  margin-top: 24px;
}
.social-container a {
  background-image: none;
  margin: 4px;
}
.tags-container a {
  margin: 8px;
  background-image: none;
  color: #ffffff;
}
.readmore-link {
  background-image: none;
}
h1 {
  font-size: 3.5rem;
}
article .article-title,
h2 {
  font-size: 2.5rem;
}
nav ul.inline li a {
  display: block;
}

      nav a {
    background-image: none;
    border-bottom: 5px solid #fbfcfd;
    border-bottom-left-radius: 15px 3px;
    border-bottom-right-radius: 15px 5px;
    color: #41403e;
    padding-bottom: 0.1rem;
}
.border {
    border: 2px solid #474d54;
}
nav.fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
}
.paper {
    border: 1px solid #c1c0bd;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.88);
}



#home h1{
    font-size:45px;
}
body{
background-image: url("https://imglf4.nosdn0.126.net/img/NDd4N2VkZG83OGxEblVzQzBpOTVCWWppVGVRc1JKN2l0d1dVTkFVNSszK0s3NVh1TEk3QkFnPT0.png?imageView&thumbnail=1687y949&type=png&quality=96&stripmeta=0"); background-position: initial; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-origin: initial; background-clip: initial;
height:100%;
width:100%;
}
#home{
    opacity:0.7;
}
.wall{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
div#midground{
    background: url("https://i.postimg.cc/PP5GtGtM/midground.png");
    z-index: -1;
    -webkit-animation: cc 200s linear infinite;
    -moz-animation: cc 200s linear infinite;
    -o-animation: cc 200s linear infinite;
    animation: cc 200s linear infinite;
}
div#foreground{
    background: url("https://i.postimg.cc/z3jZZD1B/foreground.png");
    z-index: -2;
    -webkit-animation: cc 253s linear infinite;
    -o-animation: cc 253s linear infinite;
    -moz-animation: cc 253s linear infinite;
    animation: cc 253s linear infinite;
}
div#top{
    background: url("https://i.postimg.cc/PP5GtGtM/midground.png");
    z-index: -4;
    -webkit-animation: da 200s linear infinite;
    -o-animation: da 200s linear infinite;
    animation: da 200s linear infinite;
}
@-webkit-keyframes cc {
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 600% 0;
    }
}
@-o-keyframes cc {
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 600% 0;
    }
}
@-moz-keyframes cc {
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 600% 0;
    }
}
@keyframes cc {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 600% 0;
    }
}

@keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-webkit-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-moz-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-ms-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
    